---
const {html_class, title} = Astro.props;

function get_html_class() : string{
	if (html_class !=null){
		return html_class
	}else{
		return ""
	}
}

---

<html lang="en" class={get_html_class()}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={get_html_class()}>
		<slot>Default if nothing is passed in.</slot>
	</body>
	<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
		<div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
		  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
		</span>
		<ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
			<li>
				<a href="#" class="hover:underline me-4 md:me-6">About</a>
			</li>
			<li>
				<a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
			</li>
			<li>
				<a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
			</li>
			<li>
				<a href="#" class="hover:underline">Contact</a>
			</li>
		</ul>
		</div>
	</footer>
</html>

<style>
	body{
		"display": flex;
	}
</style>